#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
# synapse {{ synapse_version }}
# ansible role at {{ synapse_ansible_url }}
###########################################

version: 1

formatters:
    precise:
        format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'

filters:
    context:
        (): synapse.util.logcontext.LoggingContextFilter
        request: ""

handlers:
    file:
        class: logging.handlers.RotatingFileHandler
        formatter: precise
        filename: /var/log/matrix-synapse/{{ matrix_server_fqn_matrix }}.log
        maxBytes: {{ matrix_synapse_log_max_mb * 1000000 }}
        backupCount: {{ matrix_synapse_log_backup_count }}
        filters: [context]
        encoding: utf8
    console:
        class: logging.StreamHandler
        formatter: precise
        filters: [context]

loggers:
    synapse:
        level: {{ matrix_synapse_log_level }}

    synapse.storage.SQL:
        # beware: increasing this to DEBUG will make synapse log sensitive
        # information such as access tokens.
        level: {{ matrix_synapse_storage_sql_log_level }}

{% for logger in matrix_synapse_additional_loggers %}
    {{ logger.name }}:
        level: {{ logger.level }}
{% endfor %}

root:
    level: {{ matrix_synapse_root_log_level }}
    handlers: [file]
