#!/bin/sh
# {{ ansible_managed }}
# synapse {{ synapse_version }}
# ansible role at {{ synapse_ansible_url }}
###########################################

set -e
EVENT_NAME="$1"
[ "$EVENT_NAME" = "live-updated" ] || exit 42

[ -e "/etc/default/acme-reload" ] && . /etc/default/acme-reload

UID=matrix-synapse
GID=nogroup

DEST_KEY=/etc/matrix-synapse/homeserver.tls.key
DEST_CERT=/etc/matrix-synapse/homeserver.tls.crt
DEST_DH=/etc/matrix-synapse/homeserver.tls.dh

SRC="$ACME_STATE_DIR/live/{{ synapse_hostname }}"

echo "SRC: $SRC"
echo "DEST_KEY: $DEST_KEY"


# Don't do anything if matrix-synapse isn't installed
[ ! -d /etc/matrix-synapse/ ] && exit 1

# Don't do anything if there are no certs
[ ! -d  "$SRC" ] && exit 2

umask 0077
certdir="$SRC"

cat "$certdir/privkey" > $DEST_KEY
cat "$certdir/fullchain" > $DEST_CERT
[ -e "$ACME_STATE_DIR/conf/dhparams" ] &&  cat "$ACME_STATE_DIR/conf/dhparams" > $DEST_DH

chown $UID:$GID $DEST_KEY
chown $UID:$GID $DEST_CERT
chown $UID:$GID $DEST_DH


systemctl restart matrix-synapse
