# {{ ansible_managed }}
# synapse {{ synapse_version }}
# ansible role at {{ synapse_ansible_url }}
###########################################

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ synapse_hostname }};

  include /etc/nginx/synapse-tls.conf*;

  access_log  /var/log/nginx/matrix-synapse.log noip;

  location /.well-known/acme-challenge/ {
    alias /var/run/acme/acme-challenge/;
  }

  {% if synapse_use_mxisd %}
  location /_matrix/client/r0/user_directory {
    proxy_pass http://localhost:8090/_matrix/client/r0/user_directory;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
  location /_matrix/identity {
    proxy_pass http://localhost:8090/_matrix/identity;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
  {% endif %}

  location /_matrix {
    proxy_pass http://localhost:8008;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
}

