# {{ ansible_managed }}
# synapse {{ synapse_version }}
# ansible role at {{ synapse_ansible_url }}
###########################################
  ###########################################################################
  # ssl settings generated with
  #     https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=nginx-1.10.3&openssl=1.1.0f&hsts=yes&profile=modern
  #
  # certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
  ssl_certificate /var/lib/acme/live/{{ synapse_hostname }}/fullchain;
  ssl_certificate_key /var/lib/acme/live/{{ synapse_hostname }}/privkey;
  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_session_tickets off;

  # modern configuration. tweak to your needs
  ssl_protocols TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
  ssl_prefer_server_ciphers on;

  # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
  add_header Strict-Transport-Security max-age=15768000;

  # OCSP Stapling ---
  # fetch OCSP records from URL in ssl_certificate and cache them
  ssl_stapling on;
  ssl_stapling_verify on;

  # verify chain of trust of OCSP response using Root CA and Intermediate certs
  ssl_trusted_certificate /var/lib/acme/live/{{ synapse_hostname }}/fullchain;

  resolver {{ dns_nameserver_ip }};
  ###########################################################################

